{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Aura: {{ request.user.username }}
        </title>
        <style type="text/css">
            @font-face {
                font-family: Aldrich;
                src: url('../../../static/font/Aldrich-Regular.ttf');
            }

            @font-face {
                font-family: Lobster;
                src: url('../../static/font/Lobster-Regular.ttf');
            }

            * {
                font-family: Aldrich;
            }
        </style>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    </head>
{% endblock head %}
{% block body %}
    <body class="profile">
        <div class="wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" style="font-family: Lobster;" href="{% url 'index' %}">A 
                        {% if not has_claimed %}
                            <a id="claim" href="{% url 'reward' %}">Claim Reward</a>
                        {% else %}
                            {{ none }}
                        {% endif %}
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <a class="nav-link" href="https://github.com/shervinbdndev/Aura">
                                <i class="bi bi-github" aria-hidden="true"></i>&nbsp;Github
                            </a>
                            {% if request.user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-person-circle" aria-hidden="true"></i>&nbsp;{{ request.user.username }}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-person-exclamation fg-dark" aria-hidden="true"></i>&nbsp;Profile</a></li>
                                        <li><a class="dropdown-item" href="{% url 'user-logout' %}"><i class="bi bi-arrow-left-circle fg-dark" aria-hidden="true"></i>&nbsp;Logout</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Upgrades
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'upgrade-cards' 'manual' %}"><i class="bi bi-x-diamond-fill"></i>&nbsp;Manual</a></li>
                                        <li><a class="dropdown-item" href="{% url 'upgrade-cards' 'advanced' %}"><i class="bi bi-exclamation-circle-fill"></i>&nbsp;Advanced</a></li>
                                        <li><a class="dropdown-item" href="{% url 'upgrade-cards' 'business' %}"><i class="bi bi-person-workspace"></i>&nbsp;Business</a></li>
                                        <li><a class="dropdown-item" href="{% url 'upgrade-cards' 'legendary' %}"><i class="bi bi-yin-yang"></i>&nbsp;Legendary</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                {{ none }}
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container py-3">
                <div class="row justify-content-center align-items-stretch">
                    <div class="col-lg-3 col-md-4 col-5">
                        <div class="fancy-container text-center d-flex flex-column justify-content-center">
                            <h1 class="mb-2">1.0</h1>
                            <p>Earn per Click</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-5">
                        <div class="fancy-container text-center d-flex flex-column justify-content-center">
                            <h1 class="mb-2">0.0</h1>
                            <p>Earn per Hour</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col-lg-9 col-md-10 col-11">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <p class="text-white fs-5 mb-0">Rank:</p>
                        </div>
                        <div class="col-auto">
                            <div class="rank-display {% if coins >= 200_000_000 %} rank-legendary {% elif coins >= 50_000_000 %} rank-mythical {% elif coins >= 10_000_000 %} rank-rare {% else %} rank-common {% endif %}" id="user-rank">{{ rank }}</div>
                        </div>
                    </div>
                    <div class="progress" id="aura-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ coins }}" aria-valuemin="0" aria-valuemax="{{ xp_needed }}"></div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col-lg-9 col-md-10 col-11">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <p class="text-white fs-5 mb-0">Next Rank:</p>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex flex-row align-items-center">
                                <h1 class="navbar-brand p-2 mb-1" style="font-family: Lobster; font-size: 1.5rem;">A</h1>
                                <div class="rank-display fs-5" id="xp-needed">{{ xp_needed|intcomma }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container py-5">
                <div class="row justify-content-center text-white text-center">
                    <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex flex-row align-items-center">
                            <h1 class="navbar-brand p-2 mb-3" style="font-family: Lobster; font-size: 2.5rem;">A</h1>
                            <h1 class="display-4"><span id="coin-count">{{ coins|intcomma }}</span></h1>
                        </div>
                        <button id="increment" class="mt-3 text-center" style="font-family: Lobster;">A</button>
                    </div>
                </div>
            </div>

            <div class="container py-5">
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col-6 col-md-3">
                        <div class="upgrade-container py-3 mb-3">
                            <a style="text-decoration: none;" href="{% url 'upgrade-cards' 'manual' %}"><i class="bi bi-x-diamond-fill"></i>&nbsp;Manual</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="upgrade-container py-3 mb-3">
                            <a style="text-decoration: none;" href="{% url 'upgrade-cards' 'advanced' %}"><i class="bi bi-exclamation-circle-fill"></i>&nbsp;Advanced</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="upgrade-container py-3 mb-3">
                            <a style="text-decoration: none;" href="{% url 'upgrade-cards' 'business' %}"><i class="bi bi-person-workspace"></i>&nbsp;Business</a>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="upgrade-container py-3 mb-3">
                            <a style="text-decoration: none;" href="{% url 'upgrade-cards' 'legendary' %}"><i class="bi bi-yin-yang"></i>&nbsp;Legendary</a>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'js/script.js' %}"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var progressBar = document.querySelector("#aura-progress .progress-bar");
                    var progressValue = progressBar.getAttribute('aria-valuenow'); 
                    var progressMax = progressBar.getAttribute('aria-valuemax');   
                
                    
                    var percentage = (progressValue / progressMax) * 100;
                    progressBar.style.width = percentage + '%';
                    progressBar.textContent = new Intl.NumberFormat().format(progressValue) + ' / ' + new Intl.NumberFormat().format(progressMax);
                });

                $(document).ready(function() {
                    $('#increment').click(function(e) {
                        e.preventDefault();
                
                        $.ajax({
                            type: 'POST',
                            url: '{% url "user-click" %}',
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                            },
                            success: function(response) {
                                function formatCoins(value) {
                                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                }
                                $('#coin-count').text(formatCoins(response.coins));

                                var progressBar = document.querySelector("#aura-progress .progress-bar");
                                var progressMax = progressBar.getAttribute('aria-valuemax');
                                var progressValue = response.coins;
                                var percentage = (progressValue / progressMax) * 100;
                
                                progressBar.style.width = percentage + '%';
                                progressBar.setAttribute('aria-valuenow', progressValue);
                                progressBar.textContent = formatCoins(progressValue) + ' / ' + formatCoins(progressMax);
                
                                $('#user-rank').text(response.rank);
                                $('#xp-needed').text(formatCoins(response.xp_needed));
                            },
                            error: function(xhr, status, error) {
                                console.log(error);
                            }
                        });
                    });
                });
            </script>
        </div>
    </body>
{% endblock body %}
{% block footer %}
    <footer class="text-white text-center py-3">
        <p>&copy; {{ server.copyright }} Developed with ❤️ by <a href="https://shervinbdndev.vercel.app/#/">shervinbdndev</a></p>
    </footer>
{% endblock footer %}